.todo_header {
    height: 40%;
    display: block;
    background-image: url('./img/h_bg_1.jpg');
    background-size: 100%;
    margin-bottom: 40px;
    padding: 13% 0;
}

.todo_header__title,
.todo_header__intro {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    height: auto;
}

.todo_header__title {
    font-size: 50px;
    color: #fff;
}

.todo_header__intro {
    font-size: 25px;
    line-height: 1.20;
    font-weight: bold;
}