.todo_header {
    background-image: url('./img/h_bg_3.jpg');
    height: 35%;
    display: block;
    background-size: 100%;
    margin-bottom: 40px;
    padding: 18% 0;
}

.todo_header__title,
.todo_header__intro {
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    height: auto;
}

.todo_header__title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-shadow: 2px 3px 2px #000;
}

.todo_header__intro {
    line-height: 1.20;
    font-weight: bold;
    font-size: .8rem;
    text-shadow: 2px 1px 2px #000;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .todo_header__title {
        font-size: 4rem;
    }

    .todo_header__intro {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }